<%- include("../partials/head.ejs"); -%>
<%- include("navbar.ejs"); -%>

<h1>This is the EJS Demo Page</h1>
<p><i>For more information, visit the link here: <a href="https://ejs.co/">EJS Library Here</a></i></p>

<%- include("../partials/footer.ejs"); -%>

</body>
</html>