<%- include('../partials/head.ejs'); -%>
<%- include('navbar.ejs'); -%>

<h1 style="margin-left: 'auto'; margin-right: 'auto'; width: 50%;">
    This is the main page!
</h1>

<%- include('../partials/footer.ejs', { year: year }); -%>

</body>
</html>