h1 {
    margin-left: 'auto';
    margin-right: 'auto';
    width: 50%;
}

p {
    margin-left: 'auto';
    margin-right: 'auto';
    width: 50%;
}

button {
    margin-left: 'auto';
    margin-right: 'auto';
    width: 50%;
}

form {
    margin-left: 'auto';
    margin-right: 'auto';
    width: 50%;
}