<!DOCTYPE html>
<html>
    <body>
        <h1>This is simple a test page</h1>
        <p>This is the second sentence to be read on this page</p>
        <form>
            <p>Please fill out the details of this form below:</p>
            <label>First Name</label>
            <input type="text" name="first_name" placeholder="First Name" />
            <label>Last Name</label>
            <input type="text" name="last_name" placeholder="Last Name" />
            <label>Email Address</label>
            <input type="email" name="email_address" placeholder="Email Address" />
            <button type="submit">Submit Form</button>
        </form>
    </body>
</html>